@tailwind base;
@tailwind components;
@tailwind utilities;

.hero__img{
    width: 30rem;
}

.hero__img--sm{
    width: 20rem;
}

.container-custom{
   @apply max-w-6xl mx-auto;
   width: calc(100% - 40px);
}

.pricing-card{
    height: 450px;
}

.pricing-card-main{
    height: 550px;
}

footer{
   background-color: #061d36;
}

input[id=menu-burger-input]:checked ~ .menu{
    padding-top: 5rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #061d36;
}

input[id=menu-burger-input]:checked ~ .menu a{
    margin-bottom: 1.6rem;
    opacity: .7;
    transition: opacity .3s ease-in-out;
}

input[id=menu-burger-input]:checked ~ .menu a:hover{
    opacity: 1;
}